# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

res/demo/

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
.venv/
venv/
env/
ENV/

# Build outputs
build/
dist/
/Neri.exe
/Neri.pdb
/launcher.obj
/launcher.res
/native_assets.json
/gui.py
/checker.py

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# IDE and OS files
.idea/
*.iml
.DS_Store
Thumbs.db
.vs/

# =========================
# Custom Exclusions
# =========================
toolkit/
app/
temp/

# 忽略 frontend 文件夹下的所有内容，但保留 lib 文件夹
frontend/*
!frontend/lib/
!frontend/lib/**
!frontend/pubspec.yaml
